@use "../theme" as *;

.chapter-container {
    height: 100%;
    width: 80svh;
    max-width: 100%;
    padding: 2rem;
    padding-top: 4rem;
    opacity: 1;

    overflow-y: scroll;
    overscroll-behavior: contain; /* doesnt bubble scroll event up to parent */
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;

    .content {
        position: sticky;
        left: 0;
    }

    .chapter-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chapter-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary;
        position: relative;

        .book {
            font-size: 2rem;
            font-weight: 700;
        }

        .chapter {
            font-size: 3.5rem;
            font-weight: 800;
        }
    }

    .spacer {
        margin-bottom: 1rem;

        &.small {
            margin-bottom: 0.5rem;
        }
    }
}
