@use "../theme" as *;

.chapter-selector {
    position: fixed;
    width: 80dvh;
    max-width: 100%;
    top: 100%;
    z-index: 100;
    background-color: $surface;
    height: 100%;
    transition: top 0.3s ease-in-out;
    opacity: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &.open {
        top: 0%;
    }

    &.visible {
        opacity: 1;
    }

    .category-title {
        margin-top: 1rem;
        margin-bottom: 0.1rem;
        margin-left: 2px;
    }

    .navigation {
        margin-right: 0.5rem;
    }

    .inner-container {
        padding: 0rem 2rem;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 2px;
        padding-top: 1rem;
    }

    .book-button,
    .chapter-button {
        display: inline-block;
        border: 2px solid $primary;
        aspect-ratio: 1;
        width: 3.5rem;
        margin: 0.2rem;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        line-height: 3.5rem;

        &.active {
            background-color: $accent;
            color: $surface;
            border-color: $accent;
        }
    }

    .spacer {
        margin-bottom: 3rem;
    }
}
