@use "../theme" as *;

.editor-container {
    width: 100%;
    font-weight: 400;
    text-align: left;
    line-height: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc((var(--app-height) * $note-editor-height) - 8rem); // TODO: this is a little hacky and gross

    p {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}

.editor-inner {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    overscroll-behavior: contain; /* doesnt bubble scroll event up to parent */
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: 1px solid $on-surface;
    border-radius: $border-radius;
}

.editor-input {
    tab-size: 1;
    outline: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
}
