@use "../theme" as *;

.editor-container {
    width: 100%;
    font-weight: 400;
    text-align: left;
    line-height: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(var(--app-height) - $note-editor-top-height);
}

.editor-inner {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    overscroll-behavior: contain; /* doesnt bubble scroll event up to parent */
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: 1px solid $on-surface;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    transition: margin-bottom 0.3s ease-in-out;

    &.shrink {
        margin-bottom: 3rem;
    }

    // theming
    .editor-underline
    {
        text-decoration: underline;
    }

    .editor-heading
    {
        font-size: 1.25rem;
        font-weight: 600;
    }

    p, h1 {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}

.editor-input {
    tab-size: 1;
    outline: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
}
