@use "../theme" as *;

.editor-container {
    margin-top: 1rem;
    border-radius: 2px;
    width: 100%;
    color: #000;
    position: absolute;
    font-weight: 400;
    text-align: left;
    border: 1px solid red;
    height: calc((var(--app-height) * $note-editor-height) - 7rem);
    overflow-y: scroll;
    overscroll-behavior: contain; /* doesnt bubble scroll event up to parent */
    // scrollbar-width: none;
    // -ms-overflow-style: none;
    line-height: 1;

    p {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}

.editor-inner {
    position: absolute;
}

.editor-input {
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 0.5rem 1rem;
}
