@use "../theme" as *;

.loading-bar {
    width: 80svh;
    max-width: 100%;
    height: var(--app-height);

    .bar {
        width: 100%;
        height: 4px;
        background-color: $loading-grey;
        opacity: 0.6;
        animation: loadingAnimation 2s infinite;
    }
}

@keyframes loadingAnimation {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}