@use "../theme" as *;

.note-editor {
    z-index: 100001;
    width: 100svw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -100%;
    transition: bottom 0.3s ease-in-out;
    height: var(--app-height);
    background-color: $surface;

    .editor {
        background-color: $surface;
        position: absolute;
        height: var(--app-height);
        box-shadow: 0 -6px 6px -4px rgba(0, 0, 0, 0.1);
        width: 80svh;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        .editor-preview {
            height: $note-editor-preview-height;
            overflow-y: scroll;
            overscroll-behavior: contain; /* doesnt bubble scroll event up to parent */
            scrollbar-width: none;
            -ms-overflow-style: none;
            padding: 0.5rem 0.5rem;
            margin: $note-editor-margin 0rem;
            line-height: 1.4;
        }

        .editor-config {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 0.5rem 0.5rem;
        }

        .editor-topbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .title {
                width: 100%;

                svg {
                    position: absolute;
                    left: 0.5rem;
                    top: 0;
                }
            }

            input {
                color: $on-surface;
                font-size: 1.2rem;
                font-weight: 400;
                border: none;
                border-bottom: 1px solid $surface;
                padding: 0.3rem 0.6rem;
                width: 100%;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid $on-surface;
                    color: $on-surface;
                }
            }
        }

        .editor-top {
            padding-top: 1rem;
            height: $note-editor-top-height;
        }

        .top {
            padding: 0rem 1rem;
            box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.1);
        }

        .content {
            height: calc(var(--app-height) - $note-editor-peripherals-height);
            padding: 0rem 1rem;
        }
    }

    &.active {
        bottom: 0;
    }
}
