@use "../theme" as *;

.note-editor {
    z-index: 100001;
    width: 100svw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -100%;
    transition: bottom 0.3s ease-in-out;
    height: var(--app-height);
    background-color: $surface;

    .editor {
        background-color: $surface;
        position: absolute;
        height: var(--app-height);
        box-shadow: 0 -6px 6px -4px rgba(0, 0, 0, 0.1);
        width: 80svh;
        max-width: 100%;
        display: flex;
        flex-direction: column;

        .editor-config {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 0.5rem 0.5rem;
        }

        .editor-topbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .title {
                width: 100%;
            }

            input {
                font-size: 1.2rem;
                font-weight: 400;
                border: 1px solid $on-surface;
                padding: 0.3rem 0.6rem;
                border-radius: $border-radius;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
        }

        .top
        {
            padding: 0rem 1rem;
            padding-top: 1rem;
            height: $note-editor-top-height;
        }

        .content
        {
            height: calc(var(--app-height) - $note-editor-top-height);
            padding: 0rem 1rem;
        }
    }

    &.active {
        bottom: 0;
    }
}
