.scaffold {
    height: var(--app-height);
    width: 100svw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .snackbar {
        position: absolute;
        z-index: 1000000000000;
        background-color: #FFB3AB;
        width: 80svh;
        max-width: 100%;
        text-align: center;
        font-size: smaller;
        padding: 0.2rem;
        top: -100%;
        transition: top ease-in 800ms;

        &.show {
            top: 0;
            transition: top ease-out 800ms;
        }

        &.green {
            background-color: #A8E6CF;
        }
    }
}

.landscape {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;

    img {
        object-fit: contain;
        width: 60%;
        margin-bottom: 2rem;
    }

    .label
    {
        margin-top: 1rem;
        padding: 0rem 2rem;
    }

    padding: 2rem;
    text-align: center;
}