@use "../theme" as *;

.preload {
    visibility: hidden;
}

.tabbar {
    position: fixed;
    z-index: 10;
    background-color: $surface;
    bottom: 0;
    transition: bottom 0.5s ease-in-out;
    box-shadow: 0 -6px 6px -4px rgba(0, 0, 0, 0.1);
    width: 80dvh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.hidden {
        bottom: -100%;
        transition: bottom 1s ease-in-out;
    }

    .offline {
        background-color: lightcoral;
        width: 100%;
        text-align: center;
        font-size: smaller;
        padding: 0.1rem;
    }

    .content {
        padding: 0.5rem 0.5rem;
        width: 80dvh;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0.2rem;
    }

    .item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        position: relative;
        width: 80px;
    }
}
