@use "../theme" as *;

.topbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 80dvh;
    max-width: 100%;
    padding: 0.5rem 0.5rem;
    z-index: 1;
    background-color: $surface;
    top: 0;
    transition: top 0.5s ease-in-out;

    &.hidden {
        top: -100%;
        transition: top 1s ease-in-out;
    }
}
