$surface: #FAF9F6;
$on-surface: #2C2C2C;

$loading-grey: #D3D3D0;

$primary: #1A1A1A;

$accent: #4A4A4A;

$highlight: #A02C2C;

$border-radius: 5px;
$note-editor-top-height: 5rem;
$note-editor-preview-height: 6rem;