$surface: #FAF9F6;
$on-surface: #2C2C2C;

$loading-grey: #D3D3D0;

$primary: #1A1A1A;

$accent: #4A4A4A;
$charcoal: #515151;

$highlight: #A02C2C;

$grey-1: #898989;
$grey-2: #bcbcbc;
$grey-3: #d2d2d2;
$grey-4: #fafafa;
$grey-5: #e3e3e3;
$grey-6: #b0b0b0;

$border-radius: 5px;
$note-editor-top-height: 5rem;
$note-editor-preview-height: 9rem;
$note-editor-margin: 2rem;

$note-editor-peripherals-height: calc($note-editor-top-height + $note-editor-preview-height + (2 * $note-editor-margin));

@mixin scroll-y() {
  &::-webkit-scrollbar {
    width: 18px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-2;
    border-radius: 30px;
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
}

@mixin no-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

$font-weights: (
  'Thin': 100,
  'Light': 300,
  'Regular': 400,
  'Medium': 500,
  'SemiBold': 600,
  'Bold': 700,
  'ExtraBold': 800,
  'Black': 900,
);

@mixin font-weight($weight) {
  font-weight: map-get($font-weights, $weight);
}

@mixin flex-align($direction, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}