@use "./theme" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, Arial, sans-serif;

  background-color: $surface;
  color: $on-surface;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: hidden;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  // background-color: red;
}

html, body {
  overscroll-behavior-x: none;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../assets/construction.svg");
}

svg {
  cursor: pointer;
  color: $on-surface;
}

button, a, svg, div {
  -webkit-tap-highlight-color: transparent;
}


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}