@use "./theme" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, Arial, sans-serif;

  background-color: $surface;
  color: $on-surface;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: hidden;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  height: var(--app-height);
}

html, body {
  height: var(--app-height);
  position: fixed;
  overflow: hidden;
  touch-action: none;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../assets/construction.svg") url("../assets/landscape.svg");
}

input {
  background-color: $surface;
}

svg {
  cursor: pointer;
  color: $on-surface;
}

button, a, svg, div {
  -webkit-tap-highlight-color: transparent;
}


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// thanks honey :))
$toggle-height: 1.4rem;

.toggle {
  margin-left: auto;
  cursor: pointer;
  position: relative;
  width: calc(2 * $toggle-height);
  min-width: calc(2 * $toggle-height);
  height: $toggle-height;
  border-radius: 15px;
  background-color: lightgray;

  & .ball {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: $surface;
    height: calc($toggle-height - 4px);
    width: calc($toggle-height - 4px);
    border-radius: 50%;
    transition: 300ms left ease-in-out;
  }

  &.active {
    background-color: $accent;

    & .ball {
      left: calc($toggle-height + 2px);
    }
  }
}