@use "../theme" as *;

.dropdown {
  @include no-selection;
  position: relative;

  &.disabled {
    cursor: not-allowed;
  }

  .dropdown-btn {
    border: 1.5px solid $grey-2;
    border-radius: 5px;
    @include font-weight('Bold');
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.05s ease-in-out;
    color: $grey-1;
    background-color: white;

    @include flex-align(row, center);
    justify-content: center;
    gap: 5px;

    &.disabled {
      pointer-events: none;
      background-color: $grey-5;
      border-color: $grey-2;
    }

    &:hover,
    &.open {
      border-color: $grey-1;
      background-color: rgba(0, 0, 0, 0.01);
    }

    .selected-option {
      color: $charcoal;
    }

    .spacer {
      flex: 1;
    }
  }

  .dropdown-menu {
    z-index: 10;
    right: 0;
    width: 245px;
    margin-top: 5px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid $grey-2;
    font-size: 12px;
    @include scroll-y();

    .header {
      padding: 4px 12px;
      @include font-weight('Bold');
      color: $grey-1;
    }

    .menu-item {
      padding: 6px 12px;
      border-top: 0.5px solid $grey-2;
      transition: 0.05s ease-in-out;
      @include font-weight('SemiBold');
      color: $charcoal;
      cursor: pointer;

      &:hover {
        background-color: $grey-4;
      }

      .item-heading {
        @include flex-align(row, center);
        justify-content: space-between;
        .menu-item-tick {
          height: 13px;
        }
      }

      .item-description {
        font-size: 12px;
        color: $grey-1;
        @include font-weight('Medium');
      }
    }

    &.hidden {
      display: none;
    }
  }
}
